.inputs--category{
    display: flex;
    padding: 0px 10px 10px 10px;
    justify-content: space-around;

    .inputs{
        display: flex;

        .boxCategory{
            color: #16a685;
            margin-right: 10px;
            flex: 1;
        }
    }
}

.btnInsertCategory{

    .btnSaveCategory{
        background-color: #00b3da;
        border: 1px solid #61dcf7;
        width: 100%;
        height: 25px;
        color: white;
        cursor: pointer;

        &:hover{
            background-color: #61dcf7;
        }
    }
}

    .paginatedDiv--category {
        margin-top: 10px;
        border-top: 2px solid #d2d1d1;

        .itemDiv--category {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #d2d1d1;
            height: 40px;
            

            .itemListId--category {
                flex: 0.5;
                margin-left: 50px;
                align-self: center;
                justify-content: center;
            }

            .itemListDescription--category {
                flex: 1;
                align-self: center;
                text-align: left;
            }

            .itemBtnDel--category {
                margin-right: 10px;
                cursor: pointer;
                align-self: center;
                color: #c27ba0;

                input[type=button] {
                    width: 10px;
                    border: none;
                }
            }
        }
    }