.login{
    background-image: url('../../assets/images/loginPage/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .fundoLogin{
        background-color: rgba(144, 144, 144, 0.68);
        width: 30vw;
        height: 70vh;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
