.itensTab {
    display: flex;
    flex-direction: column;
    width: 100%;

    .itensAdd{
        display: flex;
        justify-content: space-evenly;

        input{
            font-size: 15px;
            text-transform: uppercase;
        }

        .ipt-dateEvent {
            width: 150px;
        }

        .ipt-descEvent{
            width: 500px;
        }

        select{
            width: 280px;
        }

        .ipt-userEvent {
            width: 180px;
        }
        

        .btn-insertEvent{
            width: 50px;
            color: white;
            background-color: #16a685;
            border: none;
            cursor: pointer;

            &:hover{
                background-color: #3ae0ba;
                border: 1px solid #16a685;
            }
        }
    }

    .eventsList {
        border-collapse: collapse;
        width: 100%;
        margin-top: 10px;

        .divThead {
            background-color: #16a685;

            .trHeadEvents {
                display: flex;
                color: white;
                height: 25px;
                align-items: center;
                justify-content: space-around;
                border-bottom: 1px solid #ad2a2a;
                font-family: Arial, Helvetica, sans-serif;
            }

        }
        .tableRow {
            justify-content: space-evenly;
            width: 100%;

            &:hover{
                background-color: #f2f3f5;
            }

            input {
                font-size: 15px;
                text-align: center;
            }

            .tbDate-event {
                width: 150px;
            }

            .tbHour-event {
                width: 100px;
            }

            .tbDesc-event {
                width: 490px;
            }

            .tbVet-event {
                width: 280px;
            }

            .tbUser-product {
                width: 200px;
            }

            .btnDel-event {
                width: 15px;
                cursor: pointer;
            }
        }
    }
}