.itensTab {
    display: flex;
    flex-direction: column;
    width: 100%;

    .itensAdd {
        display: flex;
        justify-content: space-evenly;

        input {
            font-size: 15px;
            text-transform: uppercase;
        }

        .ipt-skuProduct {
            width: 160px;
        }

        .ipt-descProduct {
            width: 444px;
        }

        .ipt-qtdProduct {
            width: 102px;
        }

        .ipt-userProduct {
            width: 180px;
        }

        .ipt-dateProduct {
            width: 130px;
        }

        .btn-insertVet {
            width: 227px;
            color: white;
            background-color: #16a685;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #3ae0ba;
                border: 1px solid #16a685;
            }
        }
    }

    .itensList {
        border-collapse: collapse;
        width: 100%;
        margin-top: 10px;

        .divThead {
            background-color: #16a685;

            .trHeadItens {
                display: flex;
                color: white;
                height: 25px;
                align-items: center;
                justify-content: space-around;
                border-bottom: 1px solid #ad2a2a;
                font-family: Arial, Helvetica, sans-serif;
            }

        }

        .tableRow {
            justify-content: space-evenly;
            width: 100%;
            overflow-y: auto;

            &:hover {
                background-color: #f2f3f5;
            }

            input {
                font-size: 15px;
                text-align: center;
            }

            .tbSku-product {
                width: 140px;
            }

            .tbSpeciality-vet {
                width: 205px;
            }

            .tbDescription-product {
                width: 390px;
            }

            .tbVet-product {
                width: 350px;
            }

            .tbQtd-product {
                width: 80px;
            }

            .tbUser-product {
                width: 150px;
            }

            .tbDate-product {
                width: 95px;
            }

            .btnDel-item {
                width: 15px;
                cursor: pointer;
            }
        }
    }
}