.itensTabMedical{
    display: flex;
    flex-direction: column;
    width: 100%;

    .itensAdd {
        display: flex;
        justify-content: space-evenly;

        input {
            font-size: 15px;
            text-transform: uppercase;
        }

        .ipt-skuProduct {
            width: 160px;
        }

        .ipt-descProduct {
            width: 444px;
        }

        .ipt-qtdProduct {
            width: 102px;
        }

        .ipt-userProduct {
            width: 180px;
        }

        .ipt-dateProduct {
            width: 130px;
        }

        .btn-insertVet {
            width: 227px;
            color: white;
            background-color: #16a685;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #3ae0ba;
                border: 1px solid #16a685;
            }
        }
    }

    .itensListMedical {
        border-collapse: collapse;
        width: 100%;
        margin-top: 10px;

        .divThead {
            background-color: #16a685;

            .trHeadItens {
                width: 100%;
                color: white;
                height: 25px;
                align-items: center;
                justify-content: space-around;
                border-bottom: 1px solid #ad2a2a;
                font-family: Arial, Helvetica, sans-serif;
                display: flex;
            }

        }

        .divScroll{
            display: flex;
            flex-direction: column;

            .tableRow {
                justify-content: space-evenly;
                width: 100%;
                overflow-y: auto;
    
                &:hover {
                    background-color: #f2f3f5;
                }
    
                .tbSku-product,
                .tbDate-product{
                    width: 157px;
                }
    
                .tbDescription-product,
                .tbVet-product{
                    width: 300px;
                }
    
                .tbQtd-product{
                    width: 100px;
                }
    
                input {
                    font-size: 15px;
                    text-align: center;
                }
    
                .btnDel-item {
                    width: 15px;
                    cursor: pointer;
                }
            }
        }

        
    }
}