.vetTab {
    display: flex;
    flex-direction: column;
    width: 100%;

    .vetAdd{
        display: flex;
        justify-content: space-evenly;

        input{
            font-size: 15px;
        }

        .ipt-vetId {
            width: 150px;
        }

        .ipt-vetName{
            width: 474px;
        }

        .ipt-vetSpeciality{
            width: 202px;
        }

        .btn-insertVet{
            width: 227px;
            color: white;
            background-color: #16a685;
            border: none;
            cursor: pointer;

            &:hover{
                background-color: #3ae0ba;
                border: 1px solid #16a685;
            }
        }
    }

    .vetList {
        border-collapse: collapse;
        width: 100%;
        margin-top: 10px;

        .trHeadVet {
            background-color: #16a685;
            color: white;
            height: 25px;
            justify-content: space-evenly;
            border-bottom: 1px solid #ad2a2a;
            font-family: Arial, Helvetica, sans-serif;
        }

        .tableRow {
            justify-content: space-evenly;
            width: 100%;
            overflow-y: auto;

            &:hover{
                background-color: #f2f3f5;
            }

            input {
                font-size: 14px;
                text-align: center;
            }

            .tbId-vet {
                width: 150px;
            }

            .tbSpeciality-vet {
                width: 205px;
            }

            .tbName-vet {
                width: 465px;
            }

            .tbPhone-vet {
                width: 200px;
            }

            .tbCrmv-vet {
                width: 200px;
            }

            .btnDel-vet {
                width: 20px;
                cursor: pointer;
            }
        }
    }
}