.home{
    display: flex;

    .homeContainer{
        flex: 6;

        .widgets{
            display: flex;
            padding-left: 15px;
            padding-top: 10px;
            padding-right: 15px;
            gap: 20px;
            margin-left: 95px;
            margin-top: 25px;
        }
    }
}