.titleBar--ListMR{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: #3ae0ba;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #095543;
    text-align: center;


    .lastChangeMR--list-title{
        margin-right: 200px;
    }
    
    .idMR--list-title{
        flex: 0.8;
    }
    .statusMR--list-title{
        margin-left: 30px;
        flex: 0.6;
    }
    .vetMR--list-title{
        margin-left: 35px;
        flex: 1.5;
    }

    .petMR--list-title{
        flex: 1.2;
        margin-right: 20px;
    }

    .lastChangeMR--list-title{
        flex: 1;
        margin-right: 245px;
    }

    .downArrow{
        font-size: 15px;
        color: #efff00;
    }

    .upArrow{
        font-size: 15px;
        color: #efff00;
    }
}

.listMedicalRecords{
display: flex;
justify-content: space-around;   
align-items: center;
border-bottom: 1px solid rgb(181, 179, 179);
padding: 10px;
text-align: center;
margin-right: 5px;

&:hover{
    background-color: #f0f2f1;
}

.idMR{
    margin-left: 20px;
    flex: 0.7;
}

.statusMR{
    margin-left: 15px;
    flex: 1;
}

.vetMR{
    flex: 2;
}

.animalMR{
    flex: 1;
    margin-right: 100px;
}

.lastMR{
    flex: 0.5;
    margin-right: 150px;
}

.icon{
    width: 32px;
}

.pdf{
    color: red;
    cursor: pointer;
    margin-right: 10px;
}

.print{
    color: purple;
    cursor: pointer;
    margin-right: 10px;
}

.edit{
    color: green;
    cursor: pointer;
    margin-right: 10px;
}

}