.box-logo{
    display: flex;
    width: 100%;
    margin-top: 10px;
    height: 180px;

    .img-logo{
        display: flex;
        width: 40%;
        justify-content: right;
        align-items: center;

        img{
            margin-bottom: 30px;
            width: 180px;
        }
    }

        .txt-logo{
            display: flex;
            width: 50%;
            flex-direction: column;

            .txtPet{
                display: flex;
                height: 90%;
                justify-content: start;
                align-items: center;

                .pet{
                    font-size: 80px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #e08907;
                    font-weight: 550;
                }

                .rescue{
                    font-size: 80px;
                    font-weight: lighter;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #16a685;
                }
            }
        }

}