.inputs--apartment{
    display: flex;
    padding: 0px 10px 10px 10px;
    justify-content: space-around;

    .inputs{
        display: flex;

        .boxApartment{
            color: #16a685;
            margin-right: 10px;
            flex: 1;
        }

        .boxSection{
            color: #16a685;
            margin-right: 10px;
            flex: 1;
        }
    }

    .boxBtnSection--Apartment{
        display: flex;
        flex: 1;
        margin-top: 17px;
        align-items: center;
        .btnNewSection--Apartment{
            width: 100%;
            height: 26px;
            background-color: #16a685;
            border: 1px solid #3ae0ba;
            
            &:hover {
                background-color: #3ae0ba;
            }
        }
    }
}

.btnInsertApartment{
    
    .btnSaveApartment{
        background-color: #00b3da;
        border: 1px solid #61dcf7;

        &:hover{
            background-color: #61dcf7;
        }
    }
}

    .paginatedDiv--apartment {
        margin-top: 10px;
        border-top: 2px solid #d2d1d1;

        .itemDiv--apartment {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #d2d1d1;
            height: 40px;

            .itemListId--apartment {
                flex: 0.5;
                margin-left: 50px;
                align-self: center;
                justify-content: center;
            }

            .itemListName--apartment {
                flex: 0.5;
                align-self: center;
                text-align: center;
            }

            .itemListSection--apartment {
                flex: 1;
                align-self: center;
                text-align: center;
            }

            .itemBtnDel--apartment {
                margin-right: 10px;
                cursor: pointer;
                align-self: center;
                color: #c27ba0;

                input[type=button] {
                    width: 10px;
                    border: none;
                }
            }
        }
    }