*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    height: 30px;
    border-bottom: 0.5px solid rgb(203, 238, 203);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        //background-color: white;
        background-color: #3c3e3b;
        margin-top: 18px;
        margin-bottom: 0px;
        overflow-x: 0px;
        overflow-y: 0px;

        .texto{
            width: 100vw;
            justify-content: center;
            color: white;
            text-align: center;
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
        }

        // .search{
        //     display: flex;
        //     align-items: center;
        //     border: 0.5px solid lightgrey;
        //     padding: 3px;
        //     margin-left: 200px;
        //     width: 300px;
        //     background-color: white;

        //     input{
        //         border: none;
        //         outline: none;
        //         width: 300px;
        //         background-color: transparent;

        //         &::placeholder{
        //             font-size: 12px;
        //         }
        //     }
        // }

        // .items{
        //     display: flex;
        //     align-items: center;

        //     .item{
        //         display: flex;
        //         align-items: center;
        //         margin-right: 20px;
        //         position: relative;

        //         .icon{
        //             font-size: 20px;
        //             color: white;
        //         }

        //         .counter{
        //             display: flex;
        //             font-size: 10px;
        //             width: 15px;
        //             height: 15px;
        //             background-color: red;
        //             border-radius: 50%;
        //             color: white;
        //             justify-content: center;
        //             align-items: center;
        //             position: relative;
        //             top: -7px;
        //             right: 8px;
        //         }
        //     }

        // }
    }
}