.container-single{
    display: flex;
    width: 100%;

    .formDetail{
        width: 100%;
        display: flex;
        flex-direction: column;

        .topBar{
            width: 100%;
            height: 60px;
            padding: 8px;
            display: flex;
            background-color: aquamarine;

            .ipt{
                margin-right: 20px;
            }
        }

        .middleBar{
            width: 100%;
            background-color: bisque;
        }

        .bottonBar{
            width: 100%;
            background-color: cadetblue;
        }
    }
}