.container--pet-single {
    display: flex;
    width: 100%;

    .formDetail {
        width: 100%;
        display: flex;
        flex-direction: column;

        .topBar {
            width: 100%;
            height: 60px;
            display: flex;
            border: 1px solid #e3e6e4;
            margin-bottom: 10px;

            .topBar-interno {
                display: flex;
                padding: 10px;
                align-items: center;
                width: 100%;
                height: 100%;
                justify-content: space-around;

                .topBar-inputs {
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;

                    input {
                        height: 30px;
                        font-size: 20px;
                        font-weight: bold;
                        width: 200px;
                        text-align: right;
                        background-color: #edf0ee;
                        outline: none;
                        border: none;
                        padding: 10px;
                        text-transform: uppercase;

                        &:disabled {
                            color: #ad2a2a;
                        }
                    }

                    label {
                        font-size: 15px;
                        color: #16a685;
                        font-weight: bold;
                    }

                    .boxId,
                    .boxDtCad,
                    .boxDtRescue{
                        margin-right: 20px;
                    }

                    .boxId{
                        width: 130px;

                        input{
                            width: 100%;
                        }
                    }
                }

                .topBar-Btn {
                    display: flex;

                    .btnSalvar,
                    .btnCancelar,
                    .btnExcluir {
                        width: 100px;
                        padding: 5px;
                        margin: 10px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        color: white;
                        border-radius: 3px;
                        height: 35px;
                        font-size: 17px;
                        cursor: pointer;
                    }

                    .btnSalvar {
                        background-color: #16a685;
                        border: 1px solid #3ae0ba;

                        &:hover {
                            background-color: #3ae0ba;
                        }
                    }

                    .btnCancelar {
                        background-color: #b89b2a;
                        border: 1px solid #f0d569;

                        &:hover {
                            background-color: #f0d569;

                        }
                    }

                    .btnExcluir {
                        background-color: #ad2a2a;
                        border: 1px solid #ed5f5f;

                        &:hover {
                            background-color: #ed5f5f;
                        }
                    }
                }

            }
        }

        fieldSet {
            border: 1px solid #e3e6e4;
            margin-bottom: 10px;

            legend {
                margin-left: 30px;
                font-family: Arial, Helvetica, sans-serif;
                margin-bottom: 10px;
                font-size: 13px;
                padding: 0px 10px 0px 10px;
                text-decoration: underline;
                color: #16a685;
            }
        }

        .middleBar {
            width: 100%;
            height: 400px;
            display: flex;
            //border: 1px solid #e3e6e4;

            .middleBar-interno {
                display: flex;
                max-width: 100%;
                padding: 10px;
                flex-wrap: wrap;

                input {
                    height: 30px;
                    font-size: 15px;
                    font-weight: bold;
                    width: 200px;
                    text-align: right;
                    outline: none;
                    border: 1px solid #b9bdba;
                    padding: 10px;
                    text-transform: uppercase;
                }

                .boxName,
                .boxSpecies,
                .boxSize,
                .boxAge,
                .boxTemperament,
                .boxStatuAdoptions,
                .boxFood,
                .boxColor,
                .boxCoat,
                .boxSex {
                    margin-right: 20px;
                }

                .ipt-age {
                    width: 98.5px;
                }

                label {
                    font-size: 15px;
                    color: #16a685;
                    font-weight: bold;
                }

                .ipt-size,
                .ipt-status,
                .ipt-coat {
                    height: 30px;
                    font-size: 15px;
                    font-weight: bold;
                    width: 200px;
                    text-align: right;
                    outline: 0;
                    border: 1px solid #b9bdba;
                }

                .boxInfo {
                    width: 100%;
                    height: 190px;

                    .ipt-info {
                        padding: 10px;
                        width: 100%;
                        height: 100%;
                        resize: none;
                        outline: 0;
                        border: 1px solid #b9bdba;
                        text-transform: uppercase;
                    }

                }
                select {
                    height: 30px;
                    font-size: 15px;
                    font-weight: bold;
                    width: 200px;
                    text-align: right;
                    outline: none;
                    border: 1px solid #b9bdba;
                    text-transform: uppercase;
                }
            }

            

        }

        .fieldsets{
            display: flex;

            .ipt-idFood,
            .ipt-descriptionFood {
                height: 30px;
                font-size: 15px;
                font-weight: bold;
                width: 200px;
                text-align: right;
                outline: none;
                border: 1px solid #b9bdba;
                padding: 10px;
                text-transform: uppercase;
            }

            .boxIdFood{
                margin-left: 10px;
                margin-right: 20px;
            }

            .ipt-idFood{
                width: 100px;
            }

            .ipt-descriptionFood{
                width: 450px;
            }

            .field-botton {
                flex: 1;
                margin-right: 10px;
    
                .bottonBar {
                    width: 100%;
                    height: 100%;
                    display: flex;
    
                    .bottonBar-interno {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        flex: 2;
                        align-self: center;
    
                        label {
                            font-size: 15px;
                            color: #16a685;
                            font-weight: bold;
                        }
    
                        select {
                            height: 30px;
                            font-size: 15px;
                            font-weight: bold;
                            width: 150px;
                            text-align: right;
                            outline: none;
                            border: 1px solid #b9bdba;
                            text-transform: uppercase;
                        }
    
                        .boxSection,
                        .boxApartment {
                            margin-right: 20px;
                            padding: 10px;
                        }
                    }
                    .modalBox{
                        padding-right: 10px;
                        align-self: center;
                        display: flex;
                        flex: 1;
                    }
                }
            }
            .field-food {
                flex: 1;
    
                .bottonBar {
                    width: 100%;
                    height: 100%;
                    display: flex;
    
                    .bottonBar-interno {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        flex: 2;
                        align-self: center;
    
                        label {
                            font-size: 15px;
                            color: #16a685;
                            font-weight: bold;
                        }
    
                        select {
                            height: 30px;
                            font-size: 15px;
                            font-weight: bold;
                            width: 120px;
                            text-align: right;
                            outline: none;
                            border: 1px solid #b9bdba;
                            text-transform: uppercase;
                        }
    
                        .boxSection,
                        .boxApartment {
                            margin-right: 20px;
                            padding: 10px;
                        }
                    }
                }
            }
        }

    }
}